<!DOCTYPE html>
<html>
<head>
<title>My REST API</title>
</head>
<body>

<h1>My First Heading</h1>
<p>My first paragraph.</p>

<a href="/api/umbrella_v1?city=Berlin">Do I need an umbrella in Berlin (v1)?</a><p></p>
<a href="/api/umbrella_v2?city=Berlin">Do I need an umbrella in Berlin (v2)?</a><p></p>
<a href="/api/umbrella_v3?city=Berlin">Do I need an umbrella in Berlin (v3) City only?</a><p></p>
<a href="/api/umbrella_v3?city=Berlin&country=germany">Do I need an umbrella in Berlin (v3) City + Country?</a><p></p>
</body>
</html>